/* overwriting defaults from refBank.css to work in IFRAME progress.html */

.navigationLink {
    color: navy;
    font-weight: bold;
    padding: 0.5em 2em 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

a:hover {
    background: silver;
    color: navy;
}

a.no-hover:hover {
    background: none;
    border: none;
}

/* styling progress bar to match RefBank layout */

#statusDisplayProgressBar {
  border-width: 1px;
  border-style: solid;
  border-color: navy;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

#statusDisplayProgressIndicator {
  background-color: navy;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}

/* formatting parser feedback requests */

form {
    margin: 0px;
    padding: 0px;
}

.feedback {
    width: 750px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 2em;
    padding: 0px;
    border: solid 1px navy;
    text-align: center;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.feedbackTable { /* class used in code auto-generated by servlet */
    border: solid 1px silver;
    width: 100%;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.feedbackTableHeader { /* class used in code auto-generated by servlet */
    background-color: silver;
    font-size: 10pt;
    color: navy;
    padding: 3px 5px 3px 5px;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.feedbackTableBody { /* class used in code auto-generated by servlet */
    background-color: white;
    text-align: center;
}

.part {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: navy !important;
    background-color: silver !important;
}

.submitButton { /* class used in code auto-generated by servlet */
    color: navy;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: silver;
    border: solid 1px navy;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}