@font-face {
    font-family: 'refBank';
    src:url('/RefBank/fonts/refBank.eot');
    src:url('/RefBank/fonts/refBank.eot?#iefix') format('embedded-opentype'),
        url('/RefBank/fonts/refBank.svg#refBank') format('svg'),
        url('/RefBank/fonts/refBank.woff') format('woff'),
        url('/RefBank/fonts/refBank.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 16px "Segoe UI",Arial,Helvetica,sans-serif;
}

img {
    border: 0;
}

#topbar {
    background-color: #333333;
    height: 30px;
    left: 0px;
    top: 0px;
    width: 100%;
    line-height: 26px;
    position: fixed;
    padding: 0px 12px 0px;
    z-index: 1;
}

#topbar a {
	color: #C9C9C9;
	float: left;
	font-size: smaller;
	font-weight: bold;
	padding: 0px 1em;
	text-decoration: none;
}

#topbar a:hover {
	color: #FFFFFF;
}

#popupTopbar {
    background-color: #333333;
    height: 30px;
    left: 0px;
    top: 0px;
    width: 100%;
    line-height: 26px;
    position: fixed;
    padding: 0px 12px 0px;
    z-index: 1;
}

#popupTopbar a {
	color: #C9C9C9;
	float: right;
	font-size: smaller;
	font-weight: bold;
	padding: 0px 24px 0px;
	text-decoration: none;
}

#popupTopbar a:hover {
	color: #FFFFFF;
}

#pageTopMenu {
	width: 1000px;
	margin: 50px auto -45px;
}

#pageTopMenu a {
    padding: 5px 5px 10px;
    margin-left: 30px;
	color: #1F1F1F;
}

#editUserNameButton {
	text-decoration: none;
}

#euro-logos {
    display: inline;
    float: right;
    opacity: 0.7;
}

#vbrant-img {
    margin-right: 194px;
}

#tou-logo {
    margin-left: 24px;
}

#your-logo {/*
    height: 69px;
    width: 139px;
*/}

.page {
	margin-left: auto;
	margin-right: auto;
    clear: both;
	color: #1F1F1F;
    min-width: 1000px;
    overflow: hidden;
} 

.popupPage {
 	margin-left: auto;
	margin-right: auto;
    clear: both;
	color: #1F1F1F;
    width: 850px;
    overflow: hidden;
} 

.pageContent {
    padding-top: 120px;
}

.navigation {
    width: 960px;
 	margin: 47px auto 0px;
	padding: 8px 0px 8px;
	min-height: 21px;
	text-align: right;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.popupNavigation {
    width: 100%;
 	margin: 47px auto 0px;
	padding: 8px 0px 8px;
	min-height: 21px;
	text-align: right;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.navigationLink {
    margin: 0px 18px;
	font-size: 13px;
	color: #888888;
	background: none repeat scroll 0% 0% transparent;
	border: medium none;
	text-decoration: none;
}

.footer {
	padding: 60px 0px;
	height: 245px;
}

.popupFooter {
	padding: 60px 0px;
	height: 100px;
	size: 60%;
}

.footer p {
    margin: 10px 0px 16px;
    font-size: 12px;
}

.footerBig {
	margin-bottom: 40px;
	text-align: center;
	width: 100%;
	clear: left;
}

.footerSmall {
	float: left;
	width: 33.3%;
	text-align: center;
	color: #888888;
	float: left;
}