<?xml version="1.0" encoding="utf-8"?>
<web-app>
	<servlet>
		<servlet-name>ResServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.easyIO.web.ResourceServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>resData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PageServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.easyIO.web.StaticPageServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>staticData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageServlet</servlet-name>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageServlet</servlet-name>
		<url-pattern>/staticPopup/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RefBank</servlet-name>
		<servlet-class>de.uka.ipd.idaho.refBank.RefBankServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>rbkData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefBank</servlet-name>
		<url-pattern>/rbk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefBank</servlet-name>
		<url-pattern>/rbk/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RefSearch</servlet-name>
		<servlet-class>de.uka.ipd.idaho.refBank.apps.webInterface.RefBankSearchServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>searchData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefSearch</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefSearch</servlet-name>
		<url-pattern>/search/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RefDataIndex</servlet-name>
		<servlet-class>de.uka.ipd.idaho.refBank.apps.dataIndex.RefBankDataIndexServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>indexData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefDataIndex</servlet-name>
		<url-pattern>/data</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RefUpload</servlet-name>
		<servlet-class>de.uka.ipd.idaho.refBank.apps.webInterface.RefBankUploadServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>uploadData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefUpload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefUpload</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RefParser</servlet-name>
		<servlet-class>de.uka.ipd.idaho.refBank.apps.parser.RefBankParserServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>parserData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefParser</servlet-name>
		<url-pattern>/parser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefParser</servlet-name>
		<url-pattern>/parser/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RefEditor</servlet-name>
		<servlet-class>de.uka.ipd.idaho.refBank.apps.editor.RefBankEditorServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>editorData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefEditor</servlet-name>
		<url-pattern>/editor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefEditor</servlet-name>
		<url-pattern>/editor/*</url-pattern>
	</servlet-mapping>
</web-app>
